@use 'variables';
@use 'mixins';

.brand-item {
  background-color: variables.$brown-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;

  &__title {
    font-family: variables.$source;
    font-size: 16px;
  }

  &__buttons {
    display: flex;

    &--editable {
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }

  &__button {
    @include mixins.icon-button-style(30px, transparent, $disabled: true);

    &:disabled,
    &:disabled:hover {
      @include mixins.icon-style(variables.$gray-5);
    }
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-1, 24px);

    &--save:hover,
    &--edit:hover {
      @include mixins.icon-style(variables.$blue-1);
    }

    &--cancel:hover,
    &--delete:hover {
      @include mixins.icon-style(variables.$red-1);
    }
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
  }

  &__input {
    @include mixins.input-style(9px 77px 9px 12px, $invalid: false);
  }
}
