<div class="sub-categories-dialog__wrapper" appClickOutside>
  <div class="sub-categories-dialog">
    <div class="sub-categories-dialog__header">
      <h3 class="sub-categories-dialog__title">{{ dialog.title }}</h3>
      <button
        class="sub-categories-dialog__icon-button sub-categories-dialog__icon-button--close"
        (click)="closeDialog()"
      >
        <svg-icon
          class="sub-categories-dialog__icon sub-categories-dialog__icon--close"
          src="assets/images/close-round-line-icon.svg"
        ></svg-icon>
      </button>
    </div>
    <div class="sub-categories-dialog__body">
      <div [formGroup]="subCategoriesForm" class="sub-categories-dialog__form">
        <ng-container formArrayName="categories">
          @for (
            control of getCategories().controls;
            let index = $index;
            track control
          ) {
            <div class="sub-categories-dialog__field">
              <app-edit-category-item
                [category]="categoryData"
                [formGroupName]="index"
                (changeFormValue)="setFormValue(index, $event)"
              ></app-edit-category-item>
              <button
                class="sub-categories-dialog__icon-button sub-categories-dialog__icon-button--delete"
                [disabled]="getCategories().controls.length === 1"
                (click)="deleteCategory(index)"
              >
                <svg-icon
                  class="sub-categories-dialog__icon sub-categories-dialog__icon--delete"
                  src="assets/images/trash-bin-icon.svg"
                ></svg-icon>
              </button>
            </div>
          }
        </ng-container>
      </div>
      <button
        class="sub-categories-dialog__button sub-categories-dialog__button--add"
        (click)="addCategory()"
        [disabled]="getCategories().length === 10"
      >
        Додати
      </button>
      <button
        class="sub-categories-dialog__button sub-categories-dialog__button--save"
        (click)="saveSubCategories()"
        [disabled]="subCategoriesForm.invalid"
      >
        Зберегти
      </button>
    </div>
  </div>
</div>
