@import 'variables';
@import 'mixins';

.sub-category-item {
  padding-bottom: 10px;

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__link {
    font-family: $source;
    font-size: 18px;
    line-height: 1.5;
    color: $blue-1;
    text-decoration: none;

    &:hover {
      color: $blue-2;
      text-decoration: underline;
    }

    &--sub-link {
      font-size: 14px;
    }
  }
}
