@let categorySignal = category();

<div class="sub-category-item">
  <div class="sub-category-item__image-wrapper">
    <img
      class="sub-category-item__image"
      [ngSrc]="categorySignal.image ?? ''"
      [alt]="categorySignal.image"
      fill
    />
  </div>
  <a
    class="sub-category-item__link"
    [routerLink]="['/categories', categorySignal.id]"
    >{{ categorySignal.categoryName }}</a
  >
  <ul>
    @for (subCategory of categorySignal.children; track subCategory.id) {
      <li>
        <a
          class="sub-category-item__link sub-category-item__link--sub-link"
          [routerLink]="['/categories', subCategory.id]"
          >{{ subCategory.categoryName }}</a
        >
      </li>
    }
  </ul>
</div>
