@use 'variables';

.sub-category-item {
  padding-bottom: 10px;

  &__image-wrapper {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    margin-bottom: 10px;
  }

  &__image {
    object-fit: contain;
  }

  &__link {
    font-family: variables.$source;
    font-size: 18px;
    line-height: 1.5;
    color: variables.$blue-1;
    text-decoration: none;

    &:hover {
      color: variables.$blue-2;
      text-decoration: underline;
    }

    &--sub-link {
      font-size: 14px;
    }
  }
}
