@import 'variables';

:host {
  width: 100%;
  display: block;
}

.category-item {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  background-color: $brown-4;
  font-family: $source;
  border-radius: 5px;
  color: $brown-1;
  font-size: 16px;

  &--first {
    padding: 5px 10px;
    min-height: 40px;
  }

  &--not-first {
    padding: 10px;
  }

  &__name {
    font-size: 16px;

    &--editable {
      width: 100%;
      outline: none;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      cursor: default;
      & .category-item__icon--save {
        & svg {
          & path {
            fill: $gray-5;
          }
        }
      }
    }
  }

  &__icon {
    & svg {
      position: relative;
      top: 2px;
      height: 24px;
      width: 24px;

      & path {
        fill: $brown-1;
      }
    }

    &--add:hover,
    &--save:hover,
    &--edit:hover {
      & svg {
        & path {
          fill: $blue-1;
        }
      }
    }

    &--cancel:hover,
    &--delete:hover {
      & svg {
        & path {
          fill: $red;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    opacity: 0;

    &--editable {
      display: flex;
    }

    &--not-first {
      flex-direction: column;
    }
  }

  &:hover &__buttons {
    opacity: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
