@let categorySignal = category();
@let hasChildren = hasChildren$ | async;
@let dialog = dialog$ | async;

@if (currentCategory$ | async; as currentCategory) {
  @if (currentCategory.id === categorySignal.id && currentCategory.isEditable) {
    <div
      class="category-item category-item--editable"
      [ngClass]="{
        'category-item--empty': !(categorySignal.hasGroups || hasChildren),
      }"
      [formGroup]="categoryForm"
    >
      <div
        class="category-item__content"
        [ngClass]="{
          'category-item__content--subcategory': categorySignal.parentId,
        }"
      >
        @if (categorySignal.image) {
          <div class="category-item__dnd">
            <app-dnd-file-control formControlName="image" />
          </div>
        }
        <div class="category-item__name-wrapper--editable">
          @if (categorySignal.icon) {
            <app-svg-file-control formControlName="icon" />
          }
          <input
            class="category-item__input"
            type="text"
            formControlName="categoryName"
            (keydown.space)="$event.stopPropagation()"
          />
        </div>
      </div>
      <div
        class="category-item__buttons--editable"
        [ngClass]="{
          'category-item__buttons--not-first': categorySignal.parentId,
        }"
      >
        <button
          class="category-item__button"
          [disabled]="categoryForm.invalid"
          (click)="saveCategory()"
        >
          <svg-icon
            class="category-item__icon category-item__icon--save"
            src="assets/images/save-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="cancelEditCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--cancel"
            src="assets/images/close-round-line-icon.svg"
          ></svg-icon>
        </button>
      </div>
    </div>
  } @else {
    <div
      class="category-item"
      [ngClass]="{
        'category-item--empty': !(categorySignal.hasGroups || hasChildren),
      }"
    >
      <div
        class="category-item__content"
        [ngClass]="{
          'category-item__content--subcategory': categorySignal.parentId,
        }"
      >
        @if (categorySignal.image) {
          <div class="category-item__image-wrapper">
            <img
              class="category-item__image"
              [ngSrc]="categorySignal.image"
              [alt]="categorySignal.image"
              fill
            />
          </div>
        }
        <div class="category-item__name-wrapper">
          @if (categorySignal.icon) {
            <svg-icon
              class="category-item__icon"
              [src]="categorySignal.icon"
            ></svg-icon>
          }
          <p class="category-item__name">
            {{ categorySignal.categoryName }}
          </p>
        </div>
      </div>
      <div
        class="category-item__buttons"
        [ngClass]="{
          'category-item__buttons--not-first': categorySignal.parentId,
        }"
      >
        <button
          class="category-item__button"
          (click)="openGroupsDialog()"
          [disabled]="hasChildren"
        >
          <svg-icon
            class="category-item__icon category-item__icon--add"
            src="assets/images/plus-round-line-icon.svg"
          ></svg-icon>
        </button>
        <button
          class="category-item__button"
          (click)="openSubCategoriesDialog()"
          [disabled]="categorySignal.hasGroups || categorySignal.level === 3"
        >
          <svg-icon
            class="category-item__icon category-item__icon--add"
            src="assets/images/add-category-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="editCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--edit"
            src="assets/images/pencil-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="deleteCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--delete"
            src="assets/images/trash-bin-icon.svg"
          ></svg-icon>
        </button>
      </div>
    </div>
  }

  @if (dialog && currentCategory.id === categorySignal.id) {
    @if (dialog.popupType === dialogEnum.SubCategories) {
      <app-sub-categories-dialog
        [dialog]="dialog"
        [parentId]="categorySignal.id"
        [level]="categorySignal.level + 1"
      />
    }

    @if (dialog.popupType === dialogEnum.CPropertiesGroups) {
      <app-c-properties-groups-dialog
        [dialog]="dialog"
        [category]="categorySignal"
      />
    }
  }
}
