@if (currentCategory$ | async; as currentCategory) {
  <div
    class="category-item"
    [ngClass]="{
      'category-item--editable':
        currentCategory.isEditable && currentCategory.id === category.id
    }"
  >
    <p
      #categoryName
      class="category-item__name"
      [ngClass]="{
        'category-item__name--editable':
          currentCategory.isEditable && currentCategory.id === category.id
      }"
      [contentEditable]="
        currentCategory.isEditable && currentCategory.id === category.id
      "
      (keydown)="handleInput($event)"
    >
      {{ category.categoryName }}
    </p>

    @if (currentCategory.isEditable && currentCategory.id === category.id) {
      <div class="category-item__buttons--editable">
        <button class="category-item__button" (click)="saveCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--save"
            src="assets/images/save-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="cancelEditCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--cancel"
            src="assets/images/close-round-line-icon.svg"
          ></svg-icon>
        </button>
      </div>
    } @else {
      <div class="category-item__buttons">
        <button class="category-item__button" (click)="openSubCategoryDialog()">
          <svg-icon
            class="category-item__icon category-item__icon--add"
            src="assets/images/plus-round-line-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="editCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--edit"
            src="assets/images/pencil-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="deleteCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--delete"
            src="assets/images/trash-bin-icon.svg"
          ></svg-icon>
        </button>
      </div>
    }
  </div>

  @if (dialog$ | async; as dialog) {
    @if (
      dialog.dialogType === dialogEnum.SubCategory &&
      currentCategory.id === category.id
    ) {
      <app-sub-category-dialog
        [dialog]="dialog"
        [category]="category"
      ></app-sub-category-dialog>
    }
  }
}
