@if (currentCategory$ | async; as currentCategory) {
  @if (currentCategory.id === category.id && currentCategory.isEditable) {
    <div
      class="category-item"
      [ngClass]="{
        'category-item--first': !category.parentId,
        'category-item--not-first': category.parentId
      }"
    >
      <app-edit-category-item
        [category]="categoryData"
        (changeFormValue)="changeCategoryData($event)"
      ></app-edit-category-item>
      <div
        class="category-item__buttons--editable"
        [ngClass]="{
          'category-item__buttons--not-first': category.parentId
        }"
      >
        <button
          class="category-item__button"
          [disabled]="isDisabled"
          (click)="saveCategory()"
        >
          <svg-icon
            class="category-item__icon category-item__icon--save"
            src="assets/images/save-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="cancelEditCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--cancel"
            src="assets/images/close-round-line-icon.svg"
          ></svg-icon>
        </button>
      </div>
    </div>
  } @else {
    <div
      class="category-item"
      [ngClass]="{
        'category-item--first': !category.parentId,
        'category-item--not-first': category.parentId
      }"
    >
      <div class="category-item__content">
        @if (category.image) {
          <img
            class="category-item__image"
            [src]="category.image"
            alt="image"
            [ngStyle]="getImageStyle()"
            [alt]="category.image"
            (load)="onImageLoad($event)"
          />
        }
        <p class="category-item__name">
          {{ category.categoryName }}
        </p>
      </div>
      <div
        class="category-item__buttons"
        [ngClass]="{
          'category-item__buttons--not-first': category.parentId
        }"
      >
        <button
          class="category-item__button"
          (click)="openPropertiesDialog()"
          [disabled]="hasChildren$ | async"
        >
          <svg-icon
            class="category-item__icon category-item__icon--add"
            src="assets/images/plus-round-line-icon.svg"
          ></svg-icon>
        </button>
        <button
          class="category-item__button"
          (click)="openSubCategoriesDialog()"
          [disabled]="(hasProperties$ | async) || category.level === 3"
        >
          <svg-icon
            class="category-item__icon category-item__icon--add"
            src="assets/images/add-category-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="editCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--edit"
            src="assets/images/pencil-icon.svg"
          ></svg-icon>
        </button>
        <button class="category-item__button" (click)="deleteCategory()">
          <svg-icon
            class="category-item__icon category-item__icon--delete"
            src="assets/images/trash-bin-icon.svg"
          ></svg-icon>
        </button>
      </div>
    </div>
  }

  @if (dialog$ | async; as dialog) {
    @if (
      dialog.popupType === dialogEnum.SubCategories &&
      currentCategory.id === category.id
    ) {
      <app-sub-categories-dialog
        [dialog]="dialog"
        [parentId]="category.id"
        [level]="category.level + 1"
      ></app-sub-categories-dialog>
    }

    @if (
      dialog.popupType === dialogEnum.CProperties &&
      currentCategory.id === category.id
    ) {
      <app-c-properties-dialog
        [dialog]="dialog"
        [parentId]="category.id"
      ></app-c-properties-dialog>
    }
  }
}
