@use 'variables';
@use 'mixins';

.category-item {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$brown-4;
  font-family: variables.$source;
  border-radius: 5px;
  color: variables.$brown-1;
  font-size: 16px;
  padding: 0 10px;

  &--empty {
    background-color: variables.$red-2;
  }

  &--editable {
    padding: 0 10px 0 0;
  }

  &__dnd {
    padding-left: 10px;
  }

  &__name {
    font-size: 16px;
  }

  &__name-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;

    &--editable {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 40px;
    }
  }

  &__button {
    @include mixins.icon-button-style(30px, transparent, $disabled: true);

    &:disabled {
      & .category-item {
        &__icon {
          @include mixins.icon-style(variables.$gray-5);
        }
      }
    }
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-1, 24px);

    &--add:hover,
    &--save:hover,
    &--edit:hover {
      @include mixins.icon-style(variables.$blue-1);
    }

    &--cancel:hover,
    &--delete:hover {
      @include mixins.icon-style(variables.$red-1);
    }
  }

  &__buttons {
    display: flex;
    opacity: 0;

    &--editable {
      display: flex;
    }

    &--not-first {
      flex-direction: column;
    }
  }

  &:hover &__buttons {
    opacity: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    &--subcategory {
      padding-top: 10px;
    }
  }

  &__input {
    @include mixins.input-style(9px 12px);
  }
}
