@use 'variables';
@use 'mixins';

.svg-file-control {
  display: flex;
  gap: 5px;
  align-items: center;

  &__icon-container {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid variables.$brown-2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$white-1;

    &--invalid {
      border: 1px solid variables.$red-1;
    }
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-1, 24px);
  }

  &__icon-button {
    @include mixins.icon-button-style(30px, transparent);

    &:hover {
      @include mixins.icon-style(variables.$blue-1);
    }
  }

  &__input {
    display: none;
  }
}
