@import 'variables';
@import 'mixins';

.new-brand {
  font-family: $source;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  &__add-btn {
    @include button-style($brown-1, $yellow, 10px 24px, $brown-2);
  }

  &__input {
    flex: 1 1 0;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
  }
}
