@import 'variables';
@import 'mixins';

.new-brand {
  font-family: $source;

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  &__input {
    @include input-style(9px 12px, $max-width: 500px, $invalid: false);
  }

  &__add-btn {
    @include button-style($brown-1, $yellow, 8px 24px, $brown-2, true);
  }

  &__field-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: stretch;
    gap: 10px;
  }
}
