@import 'variables';

.new-brand {
  font-family: $source;

  &__title {
    font-size: 14px;
    font-weight: 600;
  }

  &__input {
    @include input-style(12px, 12px);

    max-width: 500px;
  }

  &__add-btn {
    background-color: $brown-1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: $source;
    font-size: 16px;
    padding: 8px 24px;
    color: $yellow;

    &:hover {
      background-color: $brown-2;
    }

    &:disabled,
    &:disabled:hover {
      background-color: $gray-2;
      color: $gray-3;
      cursor: default;
    }
  }

  &__field-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: stretch;
    gap: 10px;
  }
}
