@if (loader$ | async) {
  <div class="loading-spinner">
    <div class="loading-spinner__spinner">
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
      <div class="loading-spinner__item"></div>
    </div>
  </div>
}
