@import 'variables';
@import 'mixins';

.main-menu {
  background-color: $white-1;
  box-shadow:
    0 1px 2px 0 $gray-1,
    0 2px 10px 0 $gray-2;
  width: 320px;
  height: 100%;

  &__wrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: $brown-3;
  }

  &__logo-icon {
    @include icon-style($size: 30px);
  }

  &__logo {
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  &__logo-text {
    font-family: $source;
    font-weight: bolder;
    font-size: 30px;
    background: linear-gradient(to right, $yellow, $blue-1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $yellow;
    white-space: nowrap;
  }

  &__logo-wrapper {
    padding: 16px 16px 8px;
    background-color: $brown-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    @include icon-button-style(24px, transparent, 12px);
  }

  &__close-icon {
    @include icon-style($yellow, 24px);

    &:hover {
      @include icon-style($red-1);
    }
  }

  &__login-wrapper {
    font-family: $source;
    padding: 8px 16px 16px;
    background-color: $brown-1;
    display: flex;
    align-items: center;
    gap: 18px;
    color: $yellow;
  }

  &__login {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__login-title {
    display: flex;
    gap: 6px;
  }

  &__login-button {
    @include button-style(
      $brown-1,
      $yellow,
      1px 6px,
      $brown-2,
      $font-size: 14px
    );
  }

  &__login-text {
    font-size: 12px;
    line-height: 1.2;
  }

  &__login-divider {
    height: 20px;
    border-left: 1px solid $yellow;
  }

  &__user {
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-icon {
    @include icon-style($brown-1, 24px, false);
  }

  &__user-first-letter {
    color: $brown-1;
    font-size: 24px;
  }

  &__user-name {
    font-size: 14px;
  }

  &__user-email {
    font-size: 12px;
  }

  &__list-item {
    padding: 2px 8px;

    &--underlined {
      border-bottom: 1px solid $gray-4;
    }
  }

  &__list-button {
    @include button-style(
      transparent,
      $brown-1,
      9px 18px,
      $brown-2,
      $border-radius: 10px,
      $font-size: 14px
    );

    width: 100%;
    display: flex;
    align-items: center;
    gap: 18px;

    &:hover {
      background-color: $brown-4;
    }
  }

  &__list-button-icon {
    @include icon-style($brown-1, 24px);
  }
}

@media screen and (width <= 400px) {
  .main-menu {
    width: 100vw;
  }
}
