<div class="new-device">
  <div class="new-device__form" [formGroup]="newDeviceForm">
    <app-input
      label="Назва товару"
      placeholder="Введіть назву товару"
      formControlName="deviceName"
      [withErrors]="true"
    ></app-input>
    <div class="new-device__field">
      <label class="new-device__label" for="price">Ціна в гривнях</label>
      <input
        id="price"
        mask="separator.2"
        thousandSeparator=""
        [dropSpecialCharacters]="false"
        decimalMarker="."
        class="new-device__input"
        formControlName="price"
        type="text"
        placeholder="Ціна в гривнях"
      />
      @if (
        newDeviceForm.controls.price.invalid &&
        (newDeviceForm.controls.price.dirty ||
          newDeviceForm.controls.price.touched)
      ) {
        <p class="new-device__error">{{ showMessage('price') }}</p>
      }
    </div>
    <div class="new-device__field">
      <label class="new-device__label" for="count">Кількість</label>
      <input
        id="count"
        mask="0*"
        thousandSeparator=""
        class="new-device__input"
        formControlName="quantity"
        type="text"
        placeholder="Кількість"
      />
      @if (
        newDeviceForm.controls.quantity.invalid &&
        (newDeviceForm.controls.quantity.dirty ||
          newDeviceForm.controls.quantity.touched)
      ) {
        <p class="new-device__error">{{ showMessage('quantity') }}</p>
      }
    </div>
    @if (brands$ | async; as brands) {
      <div class="new-device__field">
        <label class="new-device__label" for="brand-id">Бренд</label>
        <p-dropdown
          [ngClass]="{
            'invalid-dropdown': newDeviceForm.controls.brandId.invalid
          }"
          id="brand-id"
          [options]="brands"
          optionLabel="brandName"
          optionValue="id"
          placeholder="Виберіть бренд"
          formControlName="brandId"
        ></p-dropdown>
        @if (
          newDeviceForm.controls.brandId.invalid &&
          (newDeviceForm.controls.brandId.dirty ||
            newDeviceForm.controls.brandId.touched)
        ) {
          <p class="new-device__error">{{ showMessage('brandId') }}</p>
        }
      </div>
    }
    @if (categories$ | async; as categories) {
      <div class="new-device__field">
        <label class="new-device__label" for="category-id">Категорія</label>
        <p-cascadeSelect
          [ngClass]="{
            'invalid-dropdown': newDeviceForm.controls.categoryId.invalid
          }"
          id="category-id"
          [options]="categories"
          optionLabel="categoryName"
          optionValue="id"
          optionGroupLabel="categoryName"
          [optionGroupChildren]="['children', 'children']"
          placeholder="Виберіть категорію"
          formControlName="categoryId"
          (onChange)="changeValue($event)"
        >
        </p-cascadeSelect>
        @if (
          newDeviceForm.controls.categoryId.invalid &&
          (newDeviceForm.controls.categoryId.dirty ||
            newDeviceForm.controls.categoryId.touched)
        ) {
          <p class="new-device__error">{{ showMessage('categoryId') }}</p>
        }
      </div>
    }
    <div>
      <label class="new-device__label">Зображення</label>
      <input
        #input
        type="file"
        accept="image/*"
        multiple
        class="new-device__input--file"
        (change)="uploadFiles($event)"
      />
      <button class="new-device__upload-button" (click)="input.click()">
        Завантажити зображення
      </button>
      <p class="new-device__error new-device__error--images">
        {{ showMessage('images') }}
      </p>
      <div formArrayName="images" class="new-device__files">
        @for (file of files; track file; let index = $index) {
          <div class="new-device__file-wrapper">
            <div
              class="new-device__file"
              [ngClass]="{
                'new-device__file--invalid': getImagesCtrl().at(index).invalid
              }"
            >
              <app-file-control
                [file]="file"
                [formControlName]="index"
                (uploadFile)="setBase64Image($event, index)"
              ></app-file-control>
              <button
                class="new-device__delete-button"
                (click)="deleteImageCtrl(index)"
              >
                <svg-icon
                  class="new-device__icon"
                  src="assets/images/trash-bin-icon.svg"
                ></svg-icon>
              </button>
            </div>
            @if (getImagesCtrl().at(index).invalid) {
              <p class="new-device__error">
                {{ showMessageArrayItem('images', index) }}
              </p>
            }
          </div>
        }
      </div>
    </div>
    @if (propertiesGroups$ | async; as groups) {
      @if (groups.length) {
        <h3 class="new-device__title">Характеристики</h3>
      }
      <ng-container formArrayName="groups">
        @for (group of groups; track group; let groupIndex = $index) {
          <ng-container [formGroupName]="groupIndex">
            <h4
              class="new-device__sub-title"
              [ngClass]="{
                'new-device__sub-title--invalid':
                  !getPropertiesCtrl(groupIndex).length
              }"
            >
              {{ group.groupName }}
            </h4>
            @if (getPropertiesCtrl(groupIndex).invalid) {
              <p class="new-device__error new-device__error--group">
                {{ showMessageArrayItem('groups', groupIndex) }}
              </p>
            }
            <ng-container formArrayName="properties">
              @for (
                property of group.properties;
                track property;
                let propertyIndex = $index
              ) {
                <ng-container [formGroupName]="propertyIndex">
                  <app-multi-input
                    [label]="property.propertyName"
                    [multiInputForm]="
                      getPropertyCtrl(groupIndex, propertyIndex)
                    "
                    [withErrors]="true"
                  ></app-multi-input>
                </ng-container>
              }
            </ng-container>
          </ng-container>
        }
      </ng-container>
    }
  </div>
  <div class="new-device__buttons">
    <button class="new-device__save-button" (click)="saveDevice()">
      Зберегти
    </button>
    <button class="new-device__cancel-button" (click)="cancelDevice()">
      Відмінити
    </button>
  </div>
</div>
