<div class="catalog__wrapper" appClickOutside>
  <div class="catalog--large">
    @if (categories$ | async; as categories) {
      <ul class="catalog__core-categories">
        @for (category of categories; track category) {
          <li class="catalog__core-category" (mouseover)="onHover(category)">
            <a class="catalog__link" href="#">
              <div class="catalog__name-wrapper">
                <svg-icon
                  class="catalog__icon"
                  [ngClass]="{
                    'catalog__icon--active':
                      category.data?.id === currentCategory.data?.id
                  }"
                  src="assets/images/four-squares-icon.svg"
                ></svg-icon>
                <span
                  class="catalog__core-category-name"
                  [ngClass]="{
                    'catalog__core-category-name--active':
                      category.data?.id === currentCategory.data?.id
                  }"
                  >{{ category.data?.categoryName }}</span
                >
              </div>
              @if (category.children?.length) {
                <svg-icon
                  class="catalog__icon catalog__icon--right"
                  [ngClass]="{
                    'catalog__icon--active':
                      category.data?.id === currentCategory.data?.id
                  }"
                  src="assets/images/angle-right-icon.svg"
                ></svg-icon>
              }
            </a>
          </li>
        }
      </ul>
      <ul class="catalog__sub-categories">
        @for (category of currentCategory.children; track category) {
          <li class="catalog__sub-category">
            <a class="catalog__sub-link" href='#'>{{ category.data?.categoryName }}</a>
            <ul>
              @for (childCategory of category.children; track childCategory) {
                <li class="catalog__sub-sub-category">
                  <a class="catalog__sub-link" href='#'>{{ childCategory.data?.categoryName }}</a>
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    }
  </div>

  <div class="catalog--small">Small catalog</div>
</div>
