@use 'variables';

.properties {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title-text {
    font-family: variables.$source;
    font-size: 24px;
    line-height: 1.2;
  }

  &__inner {
    display: flex;
    gap: 24px;
  }

  &__aside {
    flex: 1;
  }
}

@media screen and (width <= 1280px) {
  .properties {
    &__aside {
      flex: 0;
    }

    &__inner {
      gap: 0;
    }
  }
}

@media screen and (width <= 1024px) {
  .properties {
    &__title-text {
      font-size: 20px;
    }
  }
}
