@if (device$ | async; as device) {
  <div class="properties">
    <div class="properties__title">
      <h3 class="properties__title-text">
        Характеристики {{ device.deviceName }}
      </h3>
      <app-rating
        [rating]="device.rating"
        [votes]="device.votes"
        [deviceId]="device.id"
      />
    </div>
    <div class="properties__inner">
      <app-properties-list [device]="device" />
      <app-device-aside class="properties__aside" [device]="device" />
    </div>
  </div>
}
