@use 'mixins';
@use 'variables';

:host {
  flex: 1;
}

.device-carousel {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__image {
    aspect-ratio: 1;
    width: 100%;
    object-fit: contain;
  }

  &__current {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-2, 24px);
  }

  &__button {
    @include mixins.icon-button-style(
      40px,
      variables.$white-2,
      5px,
      variables.$blue-3
    );
  }

  &__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
  }

  &__list {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  &__list-item {
    padding: 5px;
    border: 1px solid transparent;
    aspect-ratio: 1;
    height: 60px;
    cursor: pointer;

    &--border {
      border: 1px solid variables.$blue-1;
    }
  }
}

@media screen and (width <= 1024px) {
  .device-carousel {
    &__list {
      display: none;
    }
  }
}
