.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 24px;
}

@media screen and (max-width: 1280px) {
  .brands-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .brands-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .brands-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
