@use 'variables';
@use 'mixins';

.rating {
  display: flex;
  gap: 10px;

  &--hover {
    &:hover {
      cursor: pointer;

      & .rating {
        &__votes {
          color: variables.$blue-2;
          text-decoration: underline;
        }
      }
    }
  }

  &__votes {
    font-family: variables.$source;
    font-size: 14px;
    color: variables.$black;
    text-decoration: none;
  }

  &__info {
    display: flex;
    gap: 5px;
  }

  &__comment {
    @include mixins.icon-style(variables.$gray-5, 14px);
  }

  &__stars {
    display: flex;
    flex-direction: row-reverse;
  }
}
