@use 'variables';
@use 'mixins';

.paginator {
  margin-top: 36px;

  &__load-more {
    @include mixins.button-style(
      variables.$brown-1,
      variables.$yellow,
      8px 24px,
      variables.$brown-2,
      true
    );

    width: 100%;

    &--last {
      display: none;
    }
  }

  &__paginator {
    &--large {
      display: block;
    }

    &--small {
      display: none;
    }
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-1, 12px, false);
  }
}

@media screen and (width <= 480px) {
  .paginator {
    &__paginator {
      &--large {
        display: none;
      }

      &--small {
        display: block;
      }
    }
  }

  :host ::ng-deep {
    .p-paginator {
      padding: 8px 0;
    }

    .p-paginator-current {
      padding: 0;
    }
  }
}

:host ::ng-deep {
  .paginator {
    &__paginator {
      &--small {
        & .p-paginator-first {
          order: 1;
        }

        & .p-paginator-current {
          order: 3;
          font-family: variables.$source;
          font-size: 16px;
          color: variables.$brown-1;
        }

        & .p-paginator-prev {
          order: 2;
        }

        & .p-paginator-next,
        & .p-paginator-last {
          order: 4;
        }
      }
    }
  }

  .p-paginator-page {
    border: none;
    color: variables.$brown-1;
    font-family: variables.$source;
    font-size: 16px;

    &:not(.p-disabled, .p-paginator-page-selected):hover {
      border: 1px solid variables.$brown-1;
      background-color: transparent;
      color: variables.$brown-1;
    }
  }

  .p-paginator-page.p-paginator-page-selected {
    background-color: variables.$brown-4;

    &:hover {
      color: variables.$brown-1;
    }
  }

  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last {
    @include mixins.icon-style(variables.$brown-1);

    &:not(.p-disabled):hover {
      border: 1px solid variables.$brown-1;
      background-color: transparent;
    }
  }
}
