<div class="edit-category-item" [formGroup]="categoryForm">
  @if (category.parentId) {
    <div class="edit-category-item__dnd-wrapper">
      <div
        class="edit-category-item__skeleton"
        [ngClass]="{
          'edit-category-item__skeleton--empty':
            !categoryForm.controls.base64image.value && !category.base64image
        }"
      >
        @if (categoryForm.controls.base64image.value || category.base64image) {
          <img
            class="edit-category-item__image"
            [src]="getImageUrl()"
            [ngStyle]="getImageStyle()"
            [alt]="
              categoryForm.controls.base64image.value || category.base64image
            "
            title="Видалити"
            (load)="onImageLoad($event)"
            (click)="deleteImage()"
          />
        }
      </div>
      <app-dnd-file-control
        [parentId]="category.parentId"
        [imageUrl]="category.base64image"
        [form]="categoryForm"
        formControlName="image"
        (changeImage)="setImageUrl($event)"
      ></app-dnd-file-control>
    </div>
  }
  <input
    class="edit-category-item__input"
    formControlName="categoryName"
    type="text"
    (keydown.space)="$event.stopPropagation()"
  />
</div>
