@if (device$ | async; as device) {
  <div class="comments">
    <div class="comments__title">
      <h3 class="comments__title-text">
        Відгуки покупців про {{ device.deviceName }}
      </h3>
      <app-rating
        [rating]="device.rating"
        [votes]="device.votes"
        [deviceId]="device.id"
      />
    </div>
    <div class="comments__inner">
      <div class="comments__main">
        @if (comments$ | async; as comments) {
          @if (comments.length) {
            <div class="comments__list-wrapper">
              <div class="comments__create">
                <p class="comments__create-text">
                  Залиште свій відгук про цей товар
                </p>
                @if (user$ | async; as user) {
                  <button
                    class="comments__create-button"
                    (click)="openDialog(user)"
                  >
                    Написати відгук
                  </button>
                } @else {
                  <button
                    class="comments__create-button"
                    (click)="openDialog(null)"
                  >
                    Написати відгук
                  </button>
                }
              </div>
              <div class="comments__list">
                @for (comment of comments; track comment.id) {
                  <app-comment-item
                    [comment]="comment"
                    [user$]="user$"
                    [commentsStatus$]="commentsStatus$"
                  />
                }
                @if (commentsStatus$ | async; as status) {
                  @if (status.cursor) {
                    <button
                      class="comments__more"
                      (click)="loadMore(device.id, status.cursor)"
                    >
                      Показати ще
                    </button>
                  }
                }
              </div>
            </div>
          } @else {
            @if (user$ | async; as user) {
              <app-comment-form [deviceId]="device.id" [userId]="user.id" />
            } @else {
              <app-comment-form [deviceId]="device.id" [userId]="null" />
            }
          }
        }
      </div>
      <app-device-aside class="comments__aside" [device]="device" />
    </div>
  </div>

  @if (user$ | async; as user) {
    @if (dialog$ | async; as dialog) {
      @if (dialog.popupType === popupEnum.NewComment) {
        <app-comment-dialog
          [dialog]="dialog"
          [deviceId]="device.id"
          [userId]="user.id"
        />
      }
    }
  }
}
