<div class="textarea">
  <label class="textarea__label" for="textarea">{{ label() }}</label>
  <textarea
    #textarea
    id="textarea"
    class="textarea__textarea"
    [ngClass]="{
      'textarea__textarea--invalid': isInvalid() && withErrors(),
    }"
    [ngStyle]="setStyle()"
    [placeholder]="placeholder()"
    [value]="internalValue || ''"
    (input)="changeValue($event)"
    (blur)="onBlur()"
  ></textarea>
  @if (isInvalid() && withErrors()) {
    <p class="textarea__error">{{ showMessage() }}</p>
  } @else {
    <p class="textarea__error--empty"></p>
  }
</div>
