@let errors = withErrors();
@let isInvalidWithErrors = isInvalid() && errors;

<div class="textarea">
  <label class="textarea__label" [for]="id">{{ label() }}</label>
  <textarea
    [id]="id"
    class="textarea__textarea"
    [ngClass]="{
      'textarea__textarea--invalid': isInvalidWithErrors,
    }"
    [ngStyle]="setStyle()"
    [placeholder]="placeholder()"
    [formControl]="control"
    (input)="changeValue()"
    (blur)="onBlur()"
  ></textarea>
  @if (isInvalidWithErrors) {
    <p class="textarea__error">{{ showMessage() }}</p>
  } @else if (errors) {
    <p class="textarea__error--empty"></p>
  }
</div>
