@let isInvalidWithErrors = isInvalid() && withErrors();

<div class="textarea">
  <label class="textarea__label" for="textarea">{{ label() }}</label>
  <textarea
    id="textarea"
    class="textarea__textarea"
    [ngClass]="{
      'textarea__textarea--invalid': isInvalidWithErrors,
    }"
    [ngStyle]="setStyle()"
    [placeholder]="placeholder()"
    [formControl]="control"
    (input)="changeValue()"
    (blur)="onBlur()"
  ></textarea>
  @if (isInvalidWithErrors) {
    <p class="textarea__error">{{ showMessage() }}</p>
  } @else {
    <p class="textarea__error--empty"></p>
  }
</div>
