@import 'variables';
@import 'mixins';

.textarea {
  &__label {
    font-size: 14px;
    display: block;
    font-family: $source;
    font-weight: 600;
  }

  &__textarea {
    @include input-style(9px 12px);

    margin-top: 8px;
    height: 150px;

    &--invalid,
    &--invalid:hover,
    &--invalid:focus {
      border-color: $red-1;
    }
  }

  &__error {
    font-family: $source;
    font-size: 12px;
    color: $red-1;
    font-weight: 700;
    position: relative;
    bottom: 3px;

    &--empty {
      height: 12px;
    }
  }
}
