<div class="new-comment-dialog__wrapper" appClickOutside>
  <div class="new-comment-dialog">
    <div class="new-comment-dialog__header">
      <h3 class="new-comment-dialog__title">{{ dialog.title }}</h3>
      <button class="new-comment-dialog__close" (click)="closeDialog()">
        <svg-icon
          class="new-comment-dialog__icon"
          src="assets/images/close-round-line-icon.svg"
        ></svg-icon>
      </button>
    </div>
    <div class="new-comment-dialog__body">
      <app-new-comment-form
        [user$]='user$'
        [dialog]="dialog"
        [deviceId]="deviceId"
      ></app-new-comment-form>
    </div>
  </div>
</div>
