<div class="restore-password-form">
  <form [formGroup]="restorePasswordForm" class="restore-password-form__form">
    <div class="restore-password-form__field">
      <label class="restore-password-form__label" for="email"
        >Електронна пошта:
      </label>
      <input
        id="email"
        class="restore-password-form__input"
        formControlName="email"
        type="email"
        placeholder="Введіть електронну пошту"
      />
      @if (
        restorePasswordForm.controls['email'].invalid &&
        (restorePasswordForm.controls['email'].dirty ||
          restorePasswordForm.controls['email'].touched)
      ) {
        <p class="restore-password-form__error">{{ showMessage('email') }}</p>
      }
    </div>
  </form>
  <button
    class="restore-password-form__button"
    [disabled]="restorePasswordForm.invalid"
  >
    Отримати тимчасовий поароль
  </button>
  <button
    class="restore-password-form__button restore-password-form__button--login"
    (click)="login()"
  >
    Я згадав(-ла) свій пароль
  </button>
</div>
