@use 'variables';
@use 'mixins';

.restore-password-form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 12px;

  &__button {
    @include mixins.button-style(
      variables.$brown-1,
      variables.$yellow,
      8px 24px,
      variables.$brown-2
    );

    &--login {
      @include mixins.button-style(
        variables.$blue-1,
        variables.$white-1,
        8px 24px,
        variables.$blue-2
      );
    }
  }
}
