@import 'variables';
@import 'mixins';

.restore-password-form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 12px;

  &__button {
    @include button-style($brown-1, $yellow, 8px 24px, $brown-2, true);

    &--login {
      @include button-style($blue-1, $white, 8px 24px, $blue-2);
    }
  }
}
