<div class="restore-password-form">
  <app-input
    [label]="'Електронна пошта'"
    [placeholder]="'Введіть електронну пошту'"
    [validators]="emailValidators"
    [inputType]="'email'"
    [formControl]="restorePasswordCtrl"
    [withErrors]="true"
  ></app-input>
  <button
    class="restore-password-form__button"
    [disabled]="restorePasswordCtrl.invalid"
  >
    Отримати тимчасовий поароль
  </button>
  <button class="restore-password-form__button--login" (click)="login()">
    Я згадав(-ла) свій пароль
  </button>
</div>
