<div class="restore-password-form">
  <div class="restore-password-form__field">
    <label class="restore-password-form__label" for="email"
      >Електронна пошта:
    </label>
    <input
      id="email"
      class="restore-password-form__input"
      [formControl]="restorePasswordCtrl"
      type="email"
      placeholder="Введіть електронну пошту"
    />
    @if (
      restorePasswordCtrl.invalid &&
      (restorePasswordCtrl.dirty || restorePasswordCtrl.touched)
    ) {
      <p class="restore-password-form__error">{{ showMessage() }}</p>
    }
  </div>
  <button
    class="restore-password-form__button"
    [disabled]="restorePasswordCtrl.invalid"
  >
    Отримати тимчасовий поароль
  </button>
  <button
    class="restore-password-form__button restore-password-form__button--login"
    (click)="login()"
  >
    Я згадав(-ла) свій пароль
  </button>
</div>
