@import 'variables';

.restore-password-form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 12px;

  &__field {
    height: 78px;
  }

  &__label {
    font-size: 14px;
    display: block;
    font-family: $source;
    font-weight: 600;
  }

  &__input {
    @include input-style(12px);

    margin-top: 8px;

    &.ng-invalid.ng-touched {
      border-color: $red;
    }
  }

  &__error {
    font-family: $source;
    font-size: 12px;
    color: $red;
    font-weight: 700;
  }

  &__button {
    color: $yellow;
    background-color: $brown-1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: $source;
    padding: 8px 24px;

    &:hover {
      background-color: $brown-2;
    }

    &:disabled,
    &:disabled:hover {
      color: $gray-5;
      background-color: $gray-4;
      cursor: default;
    }

    &--login {
      background-color: $blue-1;
      color: $white;

      &:hover {
        background-color: $blue-2;
      }
    }
  }
}
