<div class="dnd-file-control">
  <div
    class="dnd-file-control__skeleton"
    [ngClass]="{ 'dnd-file-control__skeleton--empty': !imageUrl }"
  >
    @if (imageUrl) {
      <img
        class="category-item__image"
        [src]="imageUrl"
        alt="image"
        [ngStyle]="getImageStyle()"
        [alt]="imageUrl"
        (load)="onImageLoad($event)"
      />
    }
  </div>
  <div
    class="dnd-file-control__drop"
    [ngClass]="{
      'dnd-file-control__drop--invalid':
        control.invalid && (control.dirty || control.touched)
    }"
    appDnd
    (click)="triggerFileInput()"
    (fileDropped)="setInputFile($event)"
  >
    <input
      id="file-input"
      class="dnd-file-control__input"
      type="file"
      #fileUpload
      accept="image/*"
    />
    @if (control.invalid && (control.dirty || control.touched)) {
      <span class="dnd-file-control__text dnd-file-control__text--error">{{
        errorMessage
      }}</span>
    } @else if (fileName) {
      <span class="dnd-file-control__text">{{ fileName }}</span>
    } @else {
      <span class="dnd-file-control__text"
        >Перетягніть сюди файл або клікніть тут для вибору файла</span
      >
    }
  </div>
</div>
