@use 'variables';
@use 'mixins';

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__button {
    @include mixins.button-style(
      variables.$brown-1,
      variables.$yellow,
      8px 24px,
      variables.$brown-2
    );

    white-space: nowrap;

    &--cancel {
      @include mixins.button-style(
        variables.$blue-1,
        variables.$white-1,
        8px 24px,
        variables.$blue-2
      );
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}
