<div class="comment-form">
  <div class="comment-form__form" [formGroup]="commentForm">
    <app-rating-control formControlName="rating" />
    <app-input
      label="Переваги"
      [withErrors]="true"
      formControlName="advantages"
    />
    <app-input
      label="Недоліки"
      [withErrors]="true"
      formControlName="disadvantages"
    />
    <app-textarea
      label="Коментар"
      [withErrors]="true"
      formControlName="content"
      [resizeX]="false"
      [resizeY]="true"
    />
  </div>
  <div class="comment-form__buttons-wrapper">
    @if (userId()) {
      @if (dialog()?.popupType === popupEnum.NewComment) {
        <button class="comment-form__button--cancel" (click)="cancelSending()">
          Скасувати
        </button>
        <button class="comment-form__button" (click)="sendComment(userId())">
          Залишити відгук
        </button>
      } @else if (dialog()?.popupType === popupEnum.EditComment) {
        <button class="comment-form__button--cancel" (click)="cancelSending()">
          Скасувати
        </button>
        <button class="comment-form__button" (click)="updateComment()">
          Зберегти
        </button>
      } @else {
        <button class="comment-form__button" (click)="sendComment(userId())">
          Залишити відгук
        </button>
      }
    } @else {
      <button class="comment-form__button" (click)="login()">
        Увійти в особистий кабінет
      </button>
    }
  </div>
</div>
