@use 'variables';
@use 'mixins';

.device-item {
  border-right: 1px solid variables.$gray-4;
  border-bottom: 1px solid variables.$gray-4;
  padding: 16px;
  height: 100%;
  position: relative;

  &:hover {
    border: none;
    box-shadow: 0 16px 16px variables.$blue-3;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 18px;
    font-family: variables.$source;
    text-decoration: none;
    color: variables.$black;
  }

  &__price {
    font-size: 22px;
    font-family: variables.$source;
    color: variables.$brown-2;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-2, 24px);

    &--heart {
      @include mixins.icon-style(variables.$yellow, 24px);
    }
  }

  &__multicolor-icon {
    @include mixins.icon-style($size: 24px);
  }

  &__button {
    @include mixins.icon-button-style(
      40px,
      variables.$white-2,
      5px,
      variables.$blue-3
    );
  }

  &__buttons {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
