@import 'variables';

:host ::ng-deep {
  .p-menuitem-link:not(.p-menuitem-link-active) {
    & .p-menuitem-text {
      color: $brown-1;
    }

    &:hover {
      border-bottom-color: $brown-1;
    }
  }

  .p-menuitem-text {
    font-size: 18px;
    font-family: $source;
  }
}

.device {
  padding: 12px 12px 0;

  &__menu {
    position: sticky;
    top: 64px;
    z-index: 1;
  }
}

@media screen and (width <= 1024px) {
  .device {
    &__menu {
      top: 50px;
    }
  }
}

@media screen and (width <= 480px) {
  :host ::ng-deep {
    .p-menuitem-link {
      padding: 10px;
    }

    .p-menuitem-text {
      font-size: 16px;
    }
  }
}
