@use 'variables';
@use 'mixins';

.comment-item {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid variables.$gray-4;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    font-family: variables.$source;
    font-size: 16px;
    font-weight: bold;
  }

  &__date {
    font-family: variables.$source;
    font-size: 14px;
    color: variables.$gray-5;
  }

  &__text {
    font-family: variables.$source;
    font-size: 16px;
    line-height: 1.2;

    &--bold {
      font-weight: bold;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__footer-right {
    display: flex;
    gap: 10px;
  }

  &__like {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__button {
    @include mixins.button-style(
      transparent,
      variables.$brown-2,
      6px 12px,
      transparent
    );

    &:hover {
      color: variables.$blue-2;
    }
  }

  &__icon-like {
    @include mixins.icon-style(variables.$brown-1, 24px);
  }

  &__icon-more {
    @include mixins.icon-style(variables.$gray-5, 24px);
  }

  &__icon-button {
    @include mixins.icon-button-style(30px, transparent);

    &:hover {
      .comment-item {
        &__icon-like {
          @include mixins.icon-style(variables.$brown-2);
        }
      }
    }
  }

  &__number-likes {
    font-family: variables.$source;
    font-size: 16px;
  }
}
