@let commentSignal = comment();
@let dialog = dialog$ | async;
@let currentComment = currentComment$ | async;

<div class="comment-item">
  <div class="comment-item__header">
    <p class="comment-item__user">
      {{ commentSignal.user.firstName }} {{ commentSignal.user.lastName }}
    </p>
    <p class="comment-item__date">
      {{ commentSignal.createdAt | date: 'dd.MM.YYYY HH:mm' }}
    </p>
  </div>
  <app-rating
    [deviceId]="commentSignal.device.id"
    [rating]="commentSignal.rating"
  />
  <div class="comment-item__text">{{ commentSignal.content }}</div>
  <div class="comment-item__text">
    <span class="comment-item__text--bold">Переваги: </span
    >{{ commentSignal.advantages }}
  </div>
  <div class="comment-item__text">
    <span class="comment-item__text--bold">Недоліки: </span
    >{{ commentSignal.disadvantages }}
  </div>
  <div class="comment-item__footer">
    <button class="comment-item__button">Відповісти</button>
    <div class="comment-item__footer-right">
      <div class="comment-item__like">
        <button class="comment-item__icon-button" (click)="likeComment(1)">
          <svg-icon
            class="comment-item__icon-like"
            src="assets/images/like.svg"
          ></svg-icon>
        </button>
        <span class="comment-item__number-likes">{{
          commentSignal.likesUsers.length
        }}</span>
      </div>
      <div class="comment-item__like">
        <button class="comment-item__icon-button" (click)="likeComment(-1)">
          <svg-icon
            class="comment-item__icon-like"
            src="assets/images/dislike.svg"
          ></svg-icon>
        </button>
        <span class="comment-item__number-likes">{{
          commentSignal.dislikesUsers.length
        }}</span>
      </div>
      <button class="comment-item__icon-button" (click)="openMenu()">
        <svg-icon
          class="comment-item__icon-more"
          src="assets/images/navigation-more_vert.svg"
        ></svg-icon>
      </button>
    </div>
  </div>

  @if (dialog && currentComment && currentComment === commentSignal.id) {
    @if (dialog.popupType === popupEnum.CommentMenu) {
      <app-comment-menu
        [comment]="commentSignal"
        [user]="user()"
        [commentsStatus]="commentsStatus()"
      />
    }
    @if (dialog.popupType === popupEnum.EditComment) {
      <app-comment-dialog
        [dialog]="dialog"
        [comment]="commentSignal"
        [deviceId]="commentSignal.device.id"
        [userId]="commentSignal.user.id"
      />
    }
  }
</div>
