<div class="login-form">
  <div [formGroup]="loginForm" class="login-form__form">
    <app-input
      label="Електронна пошта"
      placeholder="Введіть електронну пошту"
      [validators]="emailValidators"
      inputType="email"
      formControlName="email"
      [withErrors]="true"
    ></app-input>
    <app-input
      label="Пароль"
      placeholder="Введіть пароль"
      [validators]="passwordValidators"
      inputType="password"
      formControlName="password"
      [withErrors]="true"
    ></app-input>
  </div>
  <div class="login-form__password">
    <button class="login-form__link" (click)="restorePassword()">
      Забули пароль?
    </button>
  </div>
  <button
    class="login-form__button"
    [disabled]="loginForm.invalid"
    (click)="login()"
  >
    Увійти
  </button>
  <button class="login-form__button--registration" (click)="registration()">
    Зареєструватися
  </button>
</div>
