@import 'variables';
@import 'mixins';

.login-form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 12px;

  &__field {
    height: 78px;
  }

  &__label {
    font-size: 14px;
    display: block;
    font-family: $source;
    font-weight: 600;
  }

  &__input {
    @include input-style(9px 12px);

    margin-top: 8px;
  }

  &__error {
    font-family: $source;
    font-size: 12px;
    color: $red;
    font-weight: 700;
  }

  &__button {
    @include button-style($brown-1, $yellow, 8px 24px, $brown-2, true);

    &--registration {
      @include button-style($blue-1, $white, 8px 24px, $blue-2);
    }
  }

  &__password {
    font-size: 14px;
    text-align: end;
    font-family: $source;
    color: $blue-1;
  }

  &__link:hover {
    text-decoration: underline;
    color: $red;
    cursor: pointer;
  }
}
