@import 'variables';
@import 'mixins';

.login-form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 12px;

  &__button {
    @include button-style($brown-1, $yellow, 8px 24px, $brown-2);

    &--registration {
      @include button-style($blue-1, $white-1, 8px 24px, $blue-2);
    }
  }

  &__password {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    @include button-style(transparent, $blue-1, 0, transparent, false, 0, 14px);

    &:hover {
      text-decoration: underline;
      color: $red-1;
    }
  }
}
