<div class="contact-form" [formGroup]="contactInfoForm()">
  <div class="contact-form__group">
    <app-input
      class="contact-form__field"
      label="Мобільний телефон"
      placeholder="+380 (XX) XXX-XX-XX"
      formControlName="phone"
      [withErrors]="true"
      mask="(00) 000-00-00"
      prefix="+380 "
      [showMaskTyped]="true"
      [dropSpecialCharacters]="true"
    />
    <app-input
      class="contact-form__field"
      label="Електронна пошта"
      placeholder="Введіть електронну пошту"
      inputType="email"
      formControlName="email"
      [withErrors]="true"
    />
  </div>
  <div class="contact-form__group">
    <app-input
      class="contact-form__field"
      label="Ім'я"
      placeholder="Введіть ім'я"
      formControlName="firstName"
      [withErrors]="true"
    />
    <app-input
      class="contact-form__field"
      label="Прізвище"
      placeholder="Введіть прізвище"
      formControlName="lastName"
      [withErrors]="true"
    />
  </div>
  <button
    class="contact-form__button"
    [disabled]="contactInfoForm().invalid"
    (click)="collapseForm()"
  >
    Згорнути
  </button>
</div>
