@use 'variables';
@use 'mixins';

.multi-input {
  &__label {
    font-size: 14px;
    display: block;
    font-family: variables.$source;
    font-weight: 600;
  }

  &__input {
    @include mixins.input-style(9px 12px);

    &--invalid,
    &--invalid:hover,
    &--invalid:focus {
      border-color: variables.$red-1;
    }
  }

  &__input-wrapper {
    margin-top: 8px;
    display: flex;
    gap: 5px;
  }

  &__button {
    @include mixins.icon-button-style(30px, transparent, $disabled: true);

    &:disabled,
    &:disabled:hover {
      @include mixins.icon-style(variables.$gray-5);
    }
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-1, 24px);

    &--add:hover {
      @include mixins.icon-style(variables.$blue-1);
    }

    &--delete:hover {
      @include mixins.icon-style(variables.$red-1);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__error {
    font-family: variables.$source;
    font-size: 12px;
    color: variables.$red-1;
    font-weight: 700;
  }
}
