<div class="large-catalog">
  <ul class="large-catalog__core-categories">
    @for (category of categories; track category) {
      <li class="large-catalog__core-category" (mouseover)="onHover(category)">
        <a
          class="large-catalog__link"
          href="#"
          (click)="changeCategory($event, category.id)"
        >
          <div class="large-catalog__name-wrapper">
            @if (category.icon) {
              <svg-icon
                class="large-catalog__icon"
                [ngClass]="{
                  'large-catalog__icon--active':
                    category.id === currentCategory.id
                }"
                [src]="category.icon"
              ></svg-icon>
            }
            <span
              class="large-catalog__core-category-name"
              [ngClass]="{
                'large-catalog__core-category-name--active':
                  category.id === currentCategory.id
              }"
              >{{ category.categoryName }}</span
            >
          </div>
          @if (category.children.length) {
            <svg-icon
              class="large-catalog__icon--right"
              [ngClass]="{
                'large-catalog__icon--active':
                  category.id === currentCategory.id
              }"
              src="assets/images/angle-right-icon.svg"
            ></svg-icon>
          }
        </a>
      </li>
    }
  </ul>
  <div class="large-catalog__sub-categories-wrapper">
    @if (currentCategory) {
      <ul class="large-catalog__sub-categories">
        @for (category of currentCategory.children; track category) {
          <li class="large-catalog__sub-category">
            <a
              class="large-catalog__sub-link"
              href="#"
              (click)="changeCategory($event, category.id)"
              >{{ category.categoryName }}</a
            >
            <ul>
              @for (childCategory of category.children; track childCategory) {
                <li class="large-catalog__sub-sub-category">
                  <a
                    class="large-catalog__sub-link"
                    href="#"
                    (click)="changeCategory($event, childCategory.id)"
                    >{{ childCategory.categoryName }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    }
  </div>
</div>
