@if (device$ | async; as device) {
  <div class="about-device">
    <div class="about-device__carousel">
      <div class="about-device__carousel-current">
        <img
          class="about-device__image"
          [src]="device.images[currentImageIndex]"
          [alt]="device.images[currentImageIndex]"
        />
        <div class="about-device__carousel-buttons">
          <button class="about-device__icon-button" (click)="prevImage(device)">
            <svg-icon
              class="about-device__icon"
              src="assets/images/line-angle-left-icon.svg"
            ></svg-icon>
          </button>
          <button class="about-device__icon-button" (click)="nextImage(device)">
            <svg-icon
              class="about-device__icon"
              src="assets/images/line-angle-right-icon.svg"
            ></svg-icon>
          </button>
        </div>
      </div>
      <ul class="about-device__list">
        @for (image of device.images; track image; let index = $index) {
          <li
            class="about-device__list-item"
            [ngClass]="{
              'about-device__list-item--border': currentImageIndex === index
            }"
            (click)="setCurrentIndex(index)"
          >
            <img
              class="about-device__image"
              [src]="device.images[index]"
              [alt]="device.images[index]"
            />
          </li>
        }
      </ul>
    </div>
    <div class="about-device__info">
      <h2 class="about-device__title">{{ device.deviceName }}</h2>
      <app-rating [rating]="device.rating" [votes]="device.votes"></app-rating>
      <div class="about-device__buying">
        <span class="about-device__price">{{ device.price }} &#8372;</span>
        <div class="about-device__buttons--large">
          <button class="about-device__button">
            <svg-icon
              class="about-device__icon about-device__icon--yellow"
              src="assets/images/shopping-cart-icon.svg"
            ></svg-icon>
            Купити
          </button>
          <button class="about-device__button--credit">Купити в кредит</button>
        </div>
        <div class="about-device__icon-buttons">
          <button class="about-device__icon-button">
            <svg-icon
              class="about-device__icon"
              src="assets/images/scale-icon.svg"
            ></svg-icon>
          </button>
          <button class="about-device__icon-button">
            <svg-icon
              class="about-device__icon about-device__icon--yellow"
              src="assets/images/heart-thin-icon.svg"
            ></svg-icon>
          </button>
        </div>
      </div>
      <div class="about-device__buttons--small">
        <button class="about-device__button">
          <svg-icon
            class="about-device__icon about-device__icon--yellow"
            src="assets/images/shopping-cart-icon.svg"
          ></svg-icon>
          Купити
        </button>
        <button class="about-device__button--credit">Купити в кредит</button>
      </div>
      <div class="about-device__delivery">
        <div class="about-device__city">
          <svg-icon
            class="about-device__icon"
            src="assets/images/maps-pin-black-icon.svg"
          ></svg-icon>
          <span class="about-device__text"
            >Доставка в
            <span class="about-device__text--city">Місто</span></span
          >
        </div>
        <svg-icon
          class="about-device__icon about-device__icon--small"
          src="assets/images/line-angle-right-icon.svg"
        ></svg-icon>
      </div>
    </div>
  </div>
}
