@if (device$ | async; as device) {
  <div class="about-device">
    <app-device-carousel [carousel]="device.images"></app-device-carousel>
    <div class="about-device__info">
      <h2 class="about-device__title">{{ device.deviceName }}</h2>
      <app-rating [rating]="device.rating" [votes]="device.votes"></app-rating>
      <div class="about-device__buying">
        <span class="about-device__price">{{ device.price }} &#8372;</span>
        <div class="about-device__buttons--large">
          <button class="about-device__button">
            <svg-icon
              class="about-device__icon about-device__icon--yellow"
              src="assets/images/shopping-cart-icon.svg"
            ></svg-icon>
            Купити
          </button>
          <button class="about-device__button--credit">Купити в кредит</button>
        </div>
        <div class="about-device__icon-buttons">
          <button class="about-device__icon-button">
            <svg-icon
              class="about-device__icon"
              src="assets/images/scale-icon.svg"
            ></svg-icon>
          </button>
          <button class="about-device__icon-button">
            <svg-icon
              class="about-device__icon about-device__icon--yellow"
              src="assets/images/heart-thin-icon.svg"
            ></svg-icon>
          </button>
        </div>
      </div>
      <div class="about-device__buttons--small">
        <button class="about-device__button">
          <svg-icon
            class="about-device__icon about-device__icon--yellow"
            src="assets/images/shopping-cart-icon.svg"
          ></svg-icon>
          Купити
        </button>
        <button class="about-device__button--credit">Купити в кредит</button>
      </div>
      <div class="about-device__delivery">
        <div class="about-device__city">
          <svg-icon
            class="about-device__icon"
            src="assets/images/maps-pin-black-icon.svg"
          ></svg-icon>
          <span class="about-device__text"
            >Доставка в
            <span class="about-device__text--city">Місто</span></span
          >
        </div>
        <svg-icon
          class="about-device__icon about-device__icon--small"
          src="assets/images/line-angle-right-icon.svg"
        ></svg-icon>
      </div>
    </div>
  </div>
}
