@use 'variables';
@use 'mixins';

.about-device {
  padding: 12px 0;
  display: flex;
  gap: 24px;

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-2, 24px);

    &--yellow {
      @include mixins.icon-style(variables.$yellow);
    }

    &--small {
      @include mixins.icon-style($size: 14px);
    }
  }

  &__multicolor-icon {
    @include mixins.icon-style($size: 24px);
  }

  &__icon-button {
    @include mixins.icon-button-style(
      40px,
      variables.$white-2,
      5px,
      variables.$blue-3
    );
  }

  &__title {
    font-family: variables.$source;
    font-size: 24px;
    line-height: 1.2;
  }

  &__price {
    font-size: 28px;
    font-weight: bold;
    font-family: variables.$source;
    color: variables.$brown-1;
    white-space: nowrap;
  }

  &__buying {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__button {
    @include mixins.button-style(
      variables.$brown-1,
      variables.$yellow,
      6px 12px,
      variables.$brown-2
    );

    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    flex: 1;
    height: 40px;

    &--credit {
      @include mixins.button-style(
        variables.$blue-1,
        variables.$white-1,
        10px 12px,
        variables.$blue-2
      );

      flex: 1;
      white-space: nowrap;
    }

    &--cart {
      @include mixins.button-style(
        variables.$white-1,
        variables.$brown-1,
        6px 12px,
        variables.$white-1
      );

      &:hover {
        color: variables.$blue-2;

        .about-device {
          &__button-text {
            border-bottom: 1px dotted variables.$blue-2;
          }
        }
      }
    }
  }

  &__button-text {
    line-height: 1.2;
    border-bottom: 1px dotted variables.$brown-1;
    white-space: nowrap;
  }

  &__buttons {
    &--large {
      flex: 1;
      display: flex;
      gap: 12px;
    }

    &--small {
      display: none;
    }
  }

  &__icon-buttons {
    display: flex;
    gap: 12px;
  }

  &__delivery {
    padding: 12px 16px;
    border: 1px solid variables.$gray-5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__city {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__text {
    font-size: 16px;
    font-family: variables.$source;
    color: variables.$brown-2;

    &--city {
      font-weight: bold;
    }
  }
}

@media screen and (width <= 1280px) {
  .about-device {
    &__buying {
      justify-content: space-between;
    }

    &__buttons {
      &--large {
        display: none;
      }

      &--small {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}

@media screen and (width <= 1024px) {
  .about-device {
    &__title {
      font-size: 20px;
    }
  }
}

@media screen and (width <= 768px) {
  .about-device {
    flex-direction: column;
  }
}
