<div class="layout">
  <app-header [user$]="user$" [isAdmin$]="isAdmin$" />
  <div class="layout__container">
    @if (popup$ | async; as popup) {
      @if (
        popup.popupType === popupEnum.Login ||
        popup.popupType === popupEnum.Registration ||
        popup.popupType === popupEnum.RestorePassword
      ) {
        <app-auth-dialog [dialog]="popup" />
      }
      @if (popup.popupType === popupEnum.MainMenu) {
        <app-main-menu [user$]="user$" [isAdmin$]="isAdmin$" />
      }
      @if (popup.popupType === popupEnum.Catalog) {
        <app-catalog [dialog]="popup" />
      }
      @if (popup.popupType === popupEnum.Cart) {
        <app-cart [dialog]="popup" />
      }
    }

    <router-outlet />
  </div>
</div>
<app-footer />
