@import 'variables';
@import 'mixins';

.categories {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__buttons {
    display: flex;
    gap: 18px;
  }

  &__button {
    @include button-style($brown-1, $yellow, 8px 24px, $brown-2);

    white-space: nowrap;
  }

  &__info-circle {
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    gap: 20px;
    flex-direction: row;

    & .categories__info-item:first-child .categories__info-circle {
      background-color: $brown-4;
    }

    & .categories__info-item:nth-child(2) .categories__info-circle {
      background-color: $red-2;
    }

    & .categories__info-item:last-child .categories__info-circle {
      background-color: $blue-3;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__info-text {
    font-family: $source;
    font-size: 14px;
  }
}

:host ::ng-deep {
  .p-treenode-children {
    margin-left: 15px;
  }

  .p-treenode-content {
    padding: 5px;
  }

  .p-treenode {
    padding: 0;

    &:focus {
      & .p-treenode-content {
        box-shadow: none;
      }
    }
  }

  .p-tree {
    padding: 5px;
  }

  .p-treenode-label {
    width: 100%;
  }
}

@media screen and (width <= 768px) {
  .categories {
    &__buttons {
      justify-content: center;
    }

    &__info {
      justify-content: center;
    }
  }
}

@media screen and (width <= 480px) {
  .categories {
    padding: 6px;
    gap: 6px;

    &__buttons {
      justify-content: space-evenly;
      gap: 0;
    }

    &__info {
      display: none;
    }
  }
}
