<div class="categories">
  <div class="categories__buttons">
    <button class="categories__button" (click)="expandAll()">
      Розгорнути все
    </button>
    <button class="categories__button" (click)="collapseAll()">
      Згорнути все
    </button>
  </div>
  @if (categories$ | async; as categories) {
    <div class="categories__tree">
      <p-tree
        [value]="categories"
        (onNodeExpand)="nodeExpand($event)"
        (onNodeCollapse)="nodeCollapse($event)"
      >
        <ng-template let-node pTemplate="category">
          <app-category-item [category]="node.data"></app-category-item>
        </ng-template>
        <ng-template pTemplate="default">
          <app-new-category></app-new-category>
        </ng-template>
        <ng-template let-node pTemplate="property">
          <app-c-property-item [property]="node.data"></app-c-property-item>
        </ng-template>
      </p-tree>
    </div>
  }
</div>
