@import 'variables';
@import 'mixins';

.categories {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__buttons {
    display: flex;
    gap: 18px;
  }

  &__button {
    @include button-style($brown-1, $yellow, 8px 24px, $brown-2);

    white-space: nowrap;

    &:hover {
      background-color: $brown-2;
    }
  }
}

:host ::ng-deep {
  .p-treenode-children {
    margin-left: 15px;
  }

  .p-treenode-content {
    padding: 5px;
  }

  .p-treenode {
    padding: 0;

    &:focus {
      & .p-treenode-content {
        box-shadow: none;
      }
    }
  }

  .p-tree {
    padding: 5px;
  }

  .p-treenode-label {
    width: 100%;
  }
}

@media screen and (width <= 768px) {
  .categories {
    &__buttons {
      justify-content: center;
    }
  }
}

@media screen and (width <= 480px) {
  .categories {
    padding: 6px;
    gap: 6px;

    &__buttons {
      justify-content: space-evenly;
      gap: 0;
    }
  }
}
