<div class="categories">
  <div class="categories__buttons">
    <button class="categories__button" (click)="expandAll()">
      Розгорнути все
    </button>
    <button class="categories__button" (click)="collapseAll()">
      Згорнути все
    </button>
  </div>
  <div class="categories__info">
    <div class="categories__info">
      <div class="categories__info-item categories__info-item--1">
        <div class="categories__info-circle"></div>
        <p class="categories__info-text">Заповнена категорія</p>
      </div>
      <div class="categories__info-item categories__info-item--2">
        <div class="categories__info-circle"></div>
        <p class="categories__info-text">Порожня категорія</p>
      </div>
      <div class="categories__info-item categories__info-item--3">
        <div class="categories__info-circle"></div>
        <p class="categories__info-text">Заповнена група</p>
      </div>
    </div>
    <div class="categories__info">
      <div class="categories__info-item categories__info-item--4">
        <div class="categories__info-circle"></div>
        <p class="categories__info-text">Порожня група</p>
      </div>
      <div class="categories__info-item categories__info-item--5">
        <div class="categories__info-circle"></div>
        <p class="categories__info-text">Характеристика</p>
      </div>
    </div>
  </div>
  @if (categories$ | async; as categories) {
    <div class="categories__tree">
      <p-tree
        [value]="categories"
        (onNodeExpand)="nodeExpand($event)"
        (onNodeCollapse)="nodeCollapse($event)"
      >
        <ng-template let-node pTemplate="category">
          <app-category-item [category]="node.data"></app-category-item>
        </ng-template>
        <ng-template let-node pTemplate="group">
          <app-c-properties-group-item
            [group]="node.data"
          ></app-c-properties-group-item>
        </ng-template>
        <ng-template pTemplate="default">
          <app-new-category></app-new-category>
        </ng-template>
        <ng-template let-node pTemplate="property">
          <app-c-property-item [property]="node.data"></app-c-property-item>
        </ng-template>
      </p-tree>
    </div>
  }
</div>
