@if (cascadeCategories$ | async; as category) {
  <div class="category">
    <h1 class="category__title">{{ category.categoryName }}</h1>
    <div class="category__subcategories">
      @for (subCategory of category.children; track subCategory) {
        <app-sub-category-item [category]="subCategory"></app-sub-category-item>
      }
    </div>
    <!--    <div>Container with filtering and sorting</div>-->
    <div class="category__divider"></div>
    @if ((hasChildChain$ | async) === false) {
      <div class="category__devices-filter-wrapper">
        <app-filter class="category__devices-filter"></app-filter>
        @if (devices$ | async; as devices) {
          <div class="category__devices-wrapper">
            <div class="category__devices">
              @for (device of devices; track device) {
                <app-device-item [device]="device"></app-device-item>
              }
            </div>
            @if (paginationParams$ | async; as paginationParams) {
              <div class="category__pagination">
                <button
                  class="category__load-more"
                  [ngClass]="{
                    'category__load-more--last':
                      paginationParams.currentPage === paginationParams.maxPage
                  }"
                  (click)="loadMore()"
                >
                  Завантажити ще
                </button>
                <p-paginator
                  class="category__paginator--large"
                  [first]="
                    (paginationParams.currentPage - 1) * paginationParams.size
                  "
                  [rows]="paginationParams.size"
                  [totalRecords]="paginationParams.total"
                  (onPageChange)="pageChange($event)"
                >
                  <ng-template pTemplate="firstpagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/double-arrow-left-icon.svg"
                    ></svg-icon>
                  </ng-template>
                  <ng-template pTemplate="previouspagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/line-angle-left-icon.svg"
                    ></svg-icon>
                  </ng-template>
                  <ng-template pTemplate="nextpagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/line-angle-right-icon.svg"
                    ></svg-icon>
                  </ng-template>
                  <ng-template pTemplate="lastpagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/double-arrow-right-icon.svg"
                    ></svg-icon>
                  </ng-template>
                </p-paginator>
                <p-paginator
                  class="category__paginator--small"
                  (onPageChange)="pageChange($event)"
                  [first]="
                    (paginationParams.currentPage - 1) * paginationParams.size
                  "
                  [rows]="paginationParams.size"
                  [totalRecords]="paginationParams.total"
                  [showCurrentPageReport]="true"
                  [showPageLinks]="false"
                  [showJumpToPageDropdown]="false"
                  currentPageReportTemplate="Сторінка {currentPage} з {totalPages}"
                >
                  <ng-template pTemplate="firstpagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/double-arrow-left-icon.svg"
                    ></svg-icon>
                  </ng-template>
                  <ng-template pTemplate="previouspagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/line-angle-left-icon.svg"
                    ></svg-icon>
                  </ng-template>
                  <ng-template pTemplate="nextpagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/line-angle-right-icon.svg"
                    ></svg-icon>
                  </ng-template>
                  <ng-template pTemplate="lastpagelinkicon">
                    <svg-icon
                      class="category__icon"
                      src="assets/images/double-arrow-right-icon.svg"
                    ></svg-icon>
                  </ng-template>
                </p-paginator>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
} @else {
  <app-page-not-found></app-page-not-found>
}
