@if (cascadeCategories$ | async; as category) {
  <div class="category">
    <app-breadcrumbs />
    <h1 class="category__title">{{ category.categoryName }}</h1>
    <div class="category__subcategories">
      @for (subCategory of category.children; track subCategory.id) {
        <app-sub-category-item [category]="subCategory" />
      }
    </div>
    <!--    <div>Container with filtering and sorting</div>-->
    <div class="category__divider"></div>
    @if ((hasChildChain$ | async) === false) {
      <div class="category__devices-filter-wrapper">
        <app-filter class="category__devices-filter" />
        @if (devices$ | async; as devices) {
          <div class="category__devices-wrapper">
            <div class="category__devices">
              @for (device of devices; track device.id) {
                <app-device-item [device]="device" />
              }
            </div>
            @if (devices.length) {
              @if (paginationParams$ | async; as paginationParams) {
                <app-paginator
                  [paginationParams]="paginationParams"
                  [routerParams]="routerParams"
                />
              }
            }
          </div>
        }
      </div>
    }
  </div>
} @else {
  <app-page-not-found />
}
