// colors
$brown-1: #3c3723;
$brown-2: #1c1910;
$brown-3: #3c372380;
$brown-4: #d7d1ba;
$brown-5: #777365;
$yellow: #ffd700;
$blue-1: #3b82f6;
$blue-2: #0064cc;
$blue-3: #bac1d7;
$white: #fff;
$black: #000;
$gray-1: #1d1e261a;
$gray-2: #1d1e2626;
$gray-3: #888;
$gray-4: #e1e3eb;
$gray-5: #acafbf;
$red: #f84147;

// fonts
$source: 'Source Sans Pro', sans-serif;

// mixins
@mixin input-style($padding, $border: true, $radius: 3px, $max-width: null, $min-width: null, $invalid: true) {
  width: 100%;
  font-family: $source;
  padding: $padding;
  border-radius: $radius;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;

  @if $max-width != null {
    max-width: $max-width;
  }

  @if $min-width != null {
    min-width: $min-width;
  }

  @if $border {
    border: 1px solid $brown-5;

    &:hover {
      border-color: $brown-1;
    }

    &:focus {
      border-color: $brown-2;
    }

    &:active {
      border-color: $brown-2;
    }

    @if $invalid {
      &.ng-invalid.ng-touched {
        border-color: $red;
      }
    }
  } @else {
    border: none;
  }
}

@mixin icon-style($color: null, $size: null, $lift: true) {
  & svg {
    @if $size != null {
      height: $size;
      width: $size;
    }

    @if $color != null {
      fill: $color;

      rect,
      circle,
      ellipse,
      line,
      polygon,
      polyline,
      path {
        fill: $color;
      }
    }

    @if $lift {
      position: relative;
      top: 2px;
    }
  }
}

@mixin icon-button-style {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    cursor: default;
  }
}
