// colors
$brown-1: #3c3723;
$brown-2: #1c1910;
$brown-3: #3c372380;
$brown-4: #d7d1ba;
$brown-5: #777365;
$yellow: #ffd700;
$blue-1: #007dff;
$blue-2: #0064cc;
$white: #fff;
$black: #000;
$gray-1: #1d1e261a;
$gray-2: #1d1e2626;
$gray-3: #888;
$gray-4: #e1e3eb;
$gray-5: #acafbf;
$red: #f84147;

// fonts
$source: 'Source Sans Pro', sans-serif;
