// colors
$brown-1: #3c3723;
$brown-2: #1c1910;
$brown-3: #3c372380;
$brown-4: #d7d1ba;
$brown-5: #777365;
$yellow: #ffd700;
$blue-1: #3b82f6;
$blue-2: #0064cc;
$blue-3: #bac1d7;
$white: #fff;
$black: #000;
$gray-1: #1d1e261a;
$gray-2: #1d1e2626;
$gray-3: #888;
$gray-4: #e1e3eb;
$gray-5: #acafbf;
$red: #f84147;

// fonts
$source: 'Source Sans Pro', sans-serif;

// mixins
@mixin input-style($padding-right, $padding-left: $padding-right) {
  width: 100%;
  font-family: $source;
  border-radius: 3px;
  border: 1px solid $brown-5;
  box-sizing: border-box;
  font-size: 16px;

  @if ($padding-right == $padding-left) {
    padding: 9px $padding-right;
  } @else {
    padding: 9px $padding-right 9px $padding-left;
  }

  &:hover {
    border-color: $brown-1;
  }

  &:focus {
    border-color: $brown-2;
    outline: none;
  }

  &:active {
    border-color: $brown-2;
  }
}
