@use 'variables';
@use 'mixins';

:host {
  position: absolute;
  right: 0;
  bottom: -55px;
  z-index: 1;
}

.comment-menu {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 1px 3px rgb(29 30 38 / 10%))
    drop-shadow(0 3px 6px rgb(29 30 38 / 10%));

  &__button {
    @include mixins.button-style(
      variables.$white-1,
      variables.$brown-2,
      6px 12px,
      variables.$gray-4,
      true,
      0
    );

    &:hover {
      color: variables.$blue-2;
    }

    &:disabled,
    &:disabled:hover {
      background-color: variables.$white-1;
      color: variables.$gray-3;
      cursor: default;
    }
  }
}
