@let userSignal = user();
@let commentSignal = comment();

@if (userSignal) {
  <div class="comment-menu" appClickOutside>
    <button
      class="comment-menu__button"
      (click)="editComment()"
      [disabled]="userSignal.id !== commentSignal.user.id"
    >
      Змінити
    </button>
    <button
      class="comment-menu__button"
      (click)="deleteComment(commentSignal.id)"
      [disabled]="
        userSignal.id !== commentSignal.user.id && (isAdmin$ | async) === false
      "
    >
      Видалити
    </button>
  </div>
} @else {
  <div class="comment-menu" appClickOutside>
    <button class="comment-menu__button" [disabled]="true">Змінити</button>
    <button class="comment-menu__button" [disabled]="true">Видалити</button>
  </div>
}
