<div class="dialog__wrapper">
  <div class="dialog">
    <div class="dialog__header">
      <h3 class="dialog__title">{{ dialog.title }}</h3>
      <button class="dialog__close" (click)="closeDialog()">
        <svg-icon
          class="dialog__icon dialog__icon--header-icon"
          src="assets/images/close-round-line-icon.svg"
        ></svg-icon>
      </button>
    </div>
    <div class="dialog__body">
      <div class="dialog__form">
        @switch (dialog.dialogType) {
          @case (dialogTypeEnum.Registration) {
            <app-registration-form></app-registration-form>
          }
          @case (dialogTypeEnum.Login) {
            <app-login-form></app-login-form>
          }
          @case (dialogTypeEnum.RestorePassword) {
            <app-restore-password-form></app-restore-password-form>
          }
        }
      </div>
      <div class="dialog__divider"></div>
      <div class="dialog__social">
        <p class="dialog__social-title">Увійти за допомогою</p>
        <button class="dialog__button">
          <svg-icon
            class="dialog__icon"
            src="assets/images/facebook-round-color-icon.svg"
          ></svg-icon>
          <span>Facebook</span>
        </button>
        <button class="dialog__button">
          <svg-icon
            class="dialog__icon"
            src="assets/images/google-color-icon.svg"
          ></svg-icon>
          <span>Google</span>
        </button>
        <button class="dialog__button">
          <svg-icon
            class="dialog__icon"
            src="assets/images/linkedin-app-icon.svg"
          ></svg-icon>
          <span>LinkedIn</span>
        </button>
      </div>
    </div>
  </div>
</div>
