@import 'mixins';
@import 'variables';

.device-aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  top: 140px;
  align-self: flex-start;
  background-color: $white-1;

  &__device-photo {
    aspect-ratio: 1;
    width: 96px;
    object-fit: contain;
  }

  &__device {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid $gray-4;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__buying {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid $gray-4;
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  &__device-title {
    font-family: $source;
    font-size: 16px;
    line-height: 1.2;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 28px;
    font-weight: bold;
    font-family: $source;
    color: $brown-1;
    white-space: nowrap;
  }

  &__icon-buttons {
    display: flex;
    gap: 12px;
  }

  &__icon-button {
    @include icon-button-style(40px, $white-2, 5px, $blue-3);
  }

  &__icon {
    @include icon-style($brown-2, 24px);

    &--yellow {
      @include icon-style($yellow);
    }
  }

  &__button {
    @include button-style($brown-1, $yellow, 0 12px, $brown-2);

    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    height: 40px;

    &--credit {
      @include button-style($blue-1, $white-1, 10px 12px, $blue-2);

      white-space: nowrap;
    }

    &--cart {
      @include button-style($white-1, $brown-1, 6px 12px, $white-1);

      &:hover {
        color: $blue-2;

        .device-aside {
          &__button-text {
            border-bottom: 1px dotted $blue-2;
          }
        }
      }
    }
  }

  &__button-text {
    line-height: 1.2;
    border-bottom: 1px dotted $brown-1;
    white-space: nowrap;
  }

  &__multicolor-icon {
    @include icon-style($size: 24px);
  }
}

@media screen and (width <= 1280px) {
  .device-aside {
    position: fixed;
    inset: auto 0 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 24px;
    box-shadow: 0 -2px 8px $blue-3;

    &__device-photo {
      width: 40px;
    }

    &__device {
      padding: 0;
      border-radius: 0;
      border: none;
    }

    &__buying {
      padding: 0;
      border-radius: 0;
      border: none;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    &__device-title {
      font-size: 16px;
    }

    &__price-wrapper {
      justify-content: flex-start;
    }

    &__icon-buttons {
      display: flex;
      gap: 0;
    }

    &__button {
      &--credit {
        display: none;
      }
    }
  }
}

@media screen and (width <= 1024px) {
  .device-aside {
    &__price {
      font-size: 20px;
    }
  }
}

@media screen and (width <= 768px) {
  .device-aside {
    padding: 6px 8px;

    &__device {
      display: none;
    }

    &__buying {
      width: 100%;
    }

    &__price-wrapper {
      width: 100%;
      justify-content: space-between;
    }
  }
}
