@import 'variables';
@import 'mixins';

.new-category {
  &__button {
    @include button-style($blue-1, $white, 10px 18px, $blue-2);

    width: 100%;
  }

  &__input {
    @include input-style(9px 12px);
  }

  &__icon-button {
    @include icon-button-style(30px, transparent, $disabled: true);

    &:disabled {
      & .new-category {
        &__icon {
          &--save {
            @include icon-style($gray-5);
          }
        }
      }
    }
  }

  &__icon {
    @include icon-style($brown-1, 24px);

    &--save:hover {
      @include icon-style($blue-1);
    }

    &--cancel:hover {
      @include icon-style($red-1);
    }
  }

  &__icon-buttons {
    display: flex;
  }

  &__wrapper {
    background-color: $red-2;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    padding-right: 10px;
  }
}
