@use 'variables';
@use 'mixins';

.new-category {
  &__button {
    @include mixins.button-style(
      variables.$blue-1,
      variables.$white-1,
      10px 18px,
      variables.$blue-2
    );

    width: 100%;
  }

  &__input {
    @include mixins.input-style(9px 12px);
  }

  &__icon-button {
    @include mixins.icon-button-style(30px, transparent, $disabled: true);

    &:disabled {
      & .new-category {
        &__icon {
          &--save {
            @include mixins.icon-style(variables.$gray-5);
          }
        }
      }
    }
  }

  &__icon {
    @include mixins.icon-style(variables.$brown-1, 24px);

    &--save:hover {
      @include mixins.icon-style(variables.$blue-1);
    }

    &--cancel:hover {
      @include mixins.icon-style(variables.$red-1);
    }
  }

  &__icon-buttons {
    display: flex;
  }

  &__wrapper {
    background-color: variables.$red-2;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    padding-right: 10px;
  }
}
