<div class="small-catalog">
  <div class="small-catalog__header">
    <h3 class="small-catalog__title">{{ dialog.title }}</h3>
    <button class="small-catalog__close" (click)="closeCatalog()">
      <svg-icon
        class="small-catalog__icon small-catalog__icon--header-icon"
        src="assets/images/close-round-line-icon.svg"
      ></svg-icon>
    </button>
  </div>
  <div class="small-catalog__body">
    @if (isCoreList) {
      <ul class="small-catalog__core-categories">
        @for (category of categories; track category) {
          <li class="small-catalog__core-category">
            @if (category.children.length) {
              <button
                class="small-catalog__button"
                (click)="showSubCategories(category)"
              >
                <div class="small-catalog__name-wrapper">
                  <svg-icon
                    class="small-catalog__icon"
                    src="assets/images/four-squares-icon.svg"
                  ></svg-icon>
                  <span class="small-catalog__core-category-name">{{
                    category.categoryName
                  }}</span>
                </div>
                <svg-icon
                  class="small-catalog__icon small-catalog__icon--right"
                  src="assets/images/angle-right-icon.svg"
                ></svg-icon>
              </button>
            } @else {
              <a
                class="small-catalog__link"
                href="#"
                (click)="changeCategory($event, category.id)"
              >
                <svg-icon
                  class="small-catalog__icon"
                  src="assets/images/four-squares-icon.svg"
                ></svg-icon>
                <span class="small-catalog__core-category-name">{{
                  category.categoryName
                }}</span>
              </a>
            }
          </li>
        }
      </ul>
    } @else {
      <button class="small-catalog__button" (click)="goBack()">
        <div class="small-catalog__name-wrapper">
          <svg-icon
            class="small-catalog__icon small-catalog__icon--right"
            src="assets/images/angle-left-icon.svg"
          ></svg-icon>
          <span class="small-catalog__core-category-name">Усі категорії</span>
        </div>
      </button>
      <ul class="small-catalog__sub-categories">
        @for (category of currentCategory.children; track category) {
          <li class="small-catalog__sub-category">
            <a
              class="small-catalog__sub-link"
              href="#"
              (click)="changeCategory($event, category.id)"
              >{{ category.categoryName }}</a
            >
            <ul>
              @for (childCategory of category.children; track childCategory) {
                <li class="small-catalog__sub-sub-category">
                  <a
                    class="small-catalog__sub-link"
                    href="#"
                    (click)="changeCategory($event, childCategory.id)"
                    >{{ childCategory.categoryName }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    }
  </div>
</div>
