<div class="registration-form">
  <div [formGroup]="registrationForm" class="registration-form__form">
    <app-input
      [label]="'Електронна пошта'"
      [placeholder]="'Введіть електронну пошту'"
      [validators]="emailValidators"
      [inputType]="'email'"
      formControlName="email"
    ></app-input>
    <app-input
      [label]="'Ім\'я'"
      [placeholder]="'Введіть ім\'я'"
      [validators]="nameValidators"
      formControlName="firstName"
    ></app-input>
    <app-input
      [label]="'Прізвище'"
      [placeholder]="'Введіть прізвище'"
      [validators]="nameValidators"
      formControlName="lastName"
    ></app-input>
    <app-input
      [label]="'Номер телефону'"
      [placeholder]="'+380 (XX) XXX - XX - XX'"
      [maskConfig]="phoneMaskConfig"
      [validators]="phoneValidators"
      formControlName="phone"
    ></app-input>
    <app-input
      [label]="'Пароль'"
      [placeholder]="'Введіть пароль'"
      [validators]="passwordValidators"
      [inputType]="'password'"
      formControlName="password"
    ></app-input>
  </div>
  <button
    class="registration-form__button"
    [disabled]="registrationForm.invalid"
    (click)="registration()"
  >
    Зареєструватися
  </button>
  <button class="registration-form__button--login" (click)="login()">
    Я вже зареєстрований(-на)
  </button>
</div>
