<div class="registration-form">
  <div [formGroup]="registrationForm" class="registration-form__form">
    <app-input
      label="Електронна пошта"
      placeholder="Введіть електронну пошту"
      inputType="email"
      formControlName="email"
      [withErrors]="true"
    ></app-input>
    <app-input
      label="Ім'я"
      placeholder="Введіть ім'я"
      formControlName="firstName"
      [withErrors]="true"
    ></app-input>
    <app-input
      label="Прізвище"
      placeholder="Введіть прізвище"
      formControlName="lastName"
      [withErrors]="true"
    ></app-input>
    <div class="registration-form__field">
      <label class="registration-form__label" for="phone">Номер телефону</label>
      <input
        id="phone"
        class="registration-form__input"
        formControlName="phone"
        type="text"
        placeholder="+380(XX)XXX-XX-XX"
        mask="(00) 000-00-00"
        prefix="+380 "
        [showMaskTyped]="true"
      />
      @if (
        registrationForm.controls['phone'].invalid &&
        (registrationForm.controls['phone'].dirty ||
          registrationForm.controls['phone'].touched)
      ) {
        <p class="registration-form__error">{{ showMessage('phone') }}</p>
      }
    </div>
    <app-input
      label="Пароль"
      placeholder="Введіть пароль"
      inputType="password"
      formControlName="password"
      [withErrors]="true"
    ></app-input>
  </div>
  <button class="registration-form__button" (click)="registration()">
    Зареєструватися
  </button>
  <button class="registration-form__button--login" (click)="login()">
    Я вже зареєстрований(-на)
  </button>
</div>
